<div class="tw-flex tw-flex-wrap md:tw-block tw-hidden">
  {% for facet in facets %}
    <div class="facet-block md:tw-mb-5 md:tw-mx-0 tw-bg-white tw-border tw-border-gray-400 tw-mx-4 tw-p-2 tw-shadow-lg">
      {% if show_title %}
        <h2 class="facet-block__title tw-text-xl tw-font-light">{{ facet.title }}</h2>
      {% endif %}
      <div class="facet-block__content">{{ facet.content }}</div>
    </div>
  {% endfor %}
</div>

<div class="md:tw-hidden tw-block">
  <h2 id="filter-toggle" onclick="toggleFilters()" class="tw-bg-gray-500 tw-font-light tw-p-2 tw-text-center tw-text-white tw-text-xl tw-uppercase" style="cursor: pointer">Filters ▼</h2>
  <div id="search-filters" class="tw-bg-gray-500 tw-hidden">
  {% for facet in facets %}
    <div class="facet-block md:tw-my-5 md:tw-mx-0 tw-bg-white tw-border tw-border-gray-400 tw-m-4 tw-p-2 tw-shadow-lg">
      {% if show_title %}
        <h2 class="facet-block__title tw-text-xl tw-font-light">{{ facet.title }}</h2>
      {% endif %}
      <div class="facet-block__content">{{ facet.content }}</div>
    </div>
  {% endfor %}
  </div>
</div>

<script type="application/javascript">
  function toggleFilters() {
    var x = document.getElementById("search-filters");
    if (x.classList.contains('tw-hidden')) {
      x.classList.remove('tw-hidden');
      x.classList.add('tw-block');
    } else {
      x.classList.remove('tw-block');
      x.classList.add('tw-hidden');
    }
  }
</script>
