a:hover {
  text-decoration: underline;
}

h2.jersey-blue {
  background-image: url('/themes/custom/dynasty_tw/images/jersey-blue.webp');
  background-clip: text;
  color: transparent;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

/**
 * Card Overrides
 */
div.card > * {
  padding: 1rem !important;
}
/**
 * Game Summary Styles
 */
#game-summary p {
  padding-bottom: 1em;
}

#game-summary a[href*='gfycat.com']:after,
#game-summary a[href*='muse.ai']:after {
  content: '';
  background-image:url('/themes/custom/dynasty_tw/icons/play.svg');
  background-size: 100% 100%;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  padding-left: 1em;
}

#game-summary a[href*='gfycat.com'],
#game-summary a[href*='muse.ai']{
  text-decoration: underline;
  text-decoration-color: #c60b31;
  text-decoration-thickness: .125em;
}

.afc-wildcard,
.afc-divisional-round,
.afc-conference-championship {
  background: #90cdf4;
}

.super-bowl {
  background: #90cdf4;
}
/**
 * Change SVG images to white.
 */
.svg-white {
  filter: invert(95%) sepia(2%) saturate(3007%) hue-rotate(180deg) brightness(100%) contrast(76%);
}

/**
 * Node Tab Colors
 */
#node-tabs li a.is-active,
#node-tabs li a:hover{
  color: blue;
}

.win {
  color: white;
  background-color: rgba(0, 34, 68, 0.59);
}

.loss {
  color: #C60C30;
  background-color: #C60C301c;
}

.tie {
  color: grey;
}

.undefeated {
  background-color: #d5e6f7;
}

/**
 * Select2 Overrides
 */

.select2-container {
  width: 16rem;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

/*
 * Hiding table columns on smaller screens.
*/
@media (max-width:1024px) {
  th.views-field-opp-coach-string,
  td.views-field-opp-coach-string,
  th.views-field-home-away,
  td.views-field-home-away,
  th.views-field-month,
  td.views-field-month,
  th.views-field-weekday,
  td.views-field-weekday,
  th.views-field-brady-attempts,
  td.views-field-brady-attempts,
  th.views-field-brady-completions,
  td.views-field-brady-completions,
  th.views-field-brady-yards,
  td.views-field-brady-yards,
  th.views-field-brady-tds,
  td.views-field-brady-tds,
  th.views-field-brady-ints,
  td.views-field-brady-ints {
    display: none;
  }
}

/* Shrinking transcript text column in search. */
td.views-field.views-field-transcript {
  width: 58.333333%!important;
}

.jersey {
  height: 4em;
  width: 4em;
}
/**
 * Facet Overrides
 */
.facets-checkbox {
  margin: 0 .5em 0 1em;
}

a.facets-soft-limit-link:after {
  content: '▼';
  padding-left: .25em;
}

a.facets-soft-limit-link.open:after {
  content: '▲';
  padding-left: .25em;
}

/* Article Teaser Readmore link styles */
.article-teaser .node-readmore {
  float: right;
  font-weight: 600;
}

.article-teaser .node-readmore:after {
  content: ' › ';
}

@media (min-width:768px) {
  .score-box {
    top: -3em;
    position: relative;
  }
}

/* Facet link color overrides */
.facet-item__value {
  color: white !important;
  text-decoration-color: #c60c30 !important;
}

.facet-item__value:hover {
  color: #c60c30 !important;
}

.bef-links {
  color: #002244 !important;
}

