<script src="https://muse.ai/static/js/embed-player.min.js"></script>

{% for item in items %}
  {% set muse_id = item.content['#context']['value'] %}
  {% set vid = 'vid-' ~ muse_id %}

  <div id="{{ vid }}" class="flex justify-center bg-black"></div>
  <script>
    MusePlayer({
      container: document.getElementById('{{ vid }}'),
      video: '{{ muse_id }}',
      title: false,
      search: false,
      links: true,
      logo: false,
      sizing: '100%',
    });
  </script>
{% endfor %}
