{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="tw-pt-10">
  <h2 class="tw-text-2xl tw-uppercase tw-font-thin tw-text-center">Your Hosts</h2>
  <div class="tw-p-10 tw-font-light tw-text-xl tw-text-center">
    The hosts have over 100 years of combined Patriots fandom. Or put another way,
    they're 3 brothers in their 30s who are lifelong Patriots fans.
  </div>
  <div class="tw-pb-10 tw-flex tw-flex-wrap tw-justify-evenly">
    <div class="tw-w-1/4 tw-bg-blue-pats tw-text-white">
      <img src="/sites/default/files/2021-08/andy_newspaper.jpg" alt="Andy reading the sports section of the Boston Globe">
      <h3 class="tw-text-xl tw-uppercase tw-font-light tw-p-2 tw-text-center">Andrew Brown</h3>
      <p class="tw-px-4 tw-pb-4">
        It's Andy's fault this podcast exists. A Pats nerd from the very
        beginning, he is also in charge of this Patriots Dynasty website as
        well.
      </p>
    </div>
    <div class="tw-w-1/4 tw-bg-blue-pats tw-text-white">
      <img src="/sites/default/files/2021-08/steve_free_brady.jpg" alt="Steve wearing a Free Brady shirt and bandana">
      <h3 class="tw-text-xl tw-uppercase tw-font-light tw-p-2 tw-text-center">Steve Brown</h3>
      <p class="tw-px-4 tw-pb-4">
        Steve has always said that he's "the Rodney Dangerfield of the Brown
        family" in that he "gets no respect." It doesn't really seem right to
        start respecting him now, does it?
      </p>
    </div>
    <div class="tw-w-1/4 tw-bg-blue-pats tw-text-white">
      <img src="/sites/default/files/2021-08/greg_dick.jpg" alt="Greg with an inflatable penis on top of an RV">
      <h3 class="tw-text-xl tw-uppercase tw-font-light tw-p-2 tw-text-center">Greg Brown</h3>
      <p class="tw-px-4 tw-pb-4">
        Greg is the Rodney Harrison of football fans: you love him when he's on
        your team, but if you're a Bills fan and you see him standing on his
        rented RV with an inflatable penis it's hard not to throw Labatt Blues
        at him.
      </p>
    </div>



  </div>
</div>
<div class="tw-bg-gray-400 tw-pt-10">
  <h2 class="tw-text-2xl tw-uppercase tw-font-thin tw-text-center">Our Favorites</h2>
  <div class="tw-p-10 tw-font-light tw-text-xl tw-text-center">
    Don't know where to start? If you have a favorite game in mind, search for it below
    or find it on the individual game page. If you want to start from the beginning we
    recommend maybe skipping the first couple of episodes, they get better as they go.
    Still not sure? Here are each of our favorite episodes.
  </div>
  <div class="tw-flex tw-flex-wrap tw-justify-evenly">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
  <h2 class="tw-text-2xl tw-uppercase tw-font-thin tw-text-center tw-pt-10">All Episodes</h2>
  <div class="tw-p-10 tw-font-light tw-text-xl tw-text-center">
    Looking to listen to a certain game? Use the filters below to find specific episodes.
  </div>

