{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="tw-bg-gray-400 tw-pt-10">
  <h2 class="tw-text-2xl tw-uppercase tw-font-thin tw-text-center">Our Favorites</h2>
  <div class="tw-p-10 tw-font-light tw-text-xl tw-text-center">
    Don't know where to start? If you have a favorite game in mind, search for it below
    or find it on the individual game page. If you want to start from the beginning we
    recommend maybe skipping the first couple of episodes, they get better as they go.
    Still not sure? Here are each of our favorite episodes.
  </div>
  <div class="tw-flex tw-flex-wrap tw-justify-evenly">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
  <h2 class="tw-text-2xl tw-uppercase tw-font-thin tw-text-center tw-pt-10">All Episodes</h2>
  <div class="tw-p-10 tw-font-light tw-text-xl tw-text-center">
    Looking to listen to a certain game? Use the filters below to find specific episodes.
  </div>

