{#
  This template is used specifically for adding tailwind
  classes from the WYSIWYG that aren't picked up by the
  tailwind processor so they get added to the final
  dist/output.css file.
#}
<span class="
flex-col
aspect-video
text-xs
text-sm
font-mono
h-4
w-4
!px-1
!px-0
bg-blue-100
bg-yellow-200
divide-gray-300
divide-gray-400
text-patriots-primary
text-patriots-secondary
text-dolphins-primary
text-dolphins-secondary
text-bills-primary
text-bills-secondary
text-jets-primary
text-jets-secondary
text-chiefs-primary
text-chiefs-secondary
text-raiders-primary
text-raiders-secondary
text-broncos-primary
text-broncos-secondary
text-charger-primary
text-charger-secondary
text-steelers-primary
text-steelers-secondary
text-ravens-primary
text-ravens-secondary
text-bengals-primary
text-bengals-secondary
text-browns-primary
text-browns-secondary
text-texans-primary
text-texans-secondary
text-titans-primary
text-titans-secondary
text-colts-primary
text-colts-secondary
text-jaguars-primary
text-jaguars-secondary
text-cowboys-primary
text-cowboys-secondary
text-giants-primary
text-giants-secondary
text-redskins-primary
text-redskins-secondary
text-commanders-primary
text-commanders-secondary
text-eagles-primary
text-eagles-secondary
text-seahawks-primary
text-seahawks-secondary
text-cardinals-primary
text-cardinals-secondary
text-rams-primary
text-rams-secondary
text-forty9ers-primary
text-forty9ers-secondary
text-packers-primary
text-packers-secondary
text-lions-primary
text-lions-secondary
text-vikings-primary
text-vikings-secondary
text-bears-primary
text-bears-secondary
text-falcons-primary
text-falcons-secondary
text-buccaneers-primary
text-buccaneers-secondary
text-saints-primary
text-saints-secondary
text-panthers-primary
text-panthers-secondary
bg-patriots-primary
bg-patriots-secondary
bg-dolphins-primary
bg-dolphins-secondary
bg-bills-primary
bg-bills-secondary
bg-jets-primary
bg-jets-secondary
bg-chiefs-primary
bg-chiefs-secondary
bg-raiders-primary
bg-raiders-secondary
bg-broncos-primary
bg-broncos-secondary
bg-charger-primary
bg-charger-secondary
bg-steelers-primary
bg-steelers-secondary
bg-ravens-primary
bg-ravens-secondary
bg-bengals-primary
bg-bengals-secondary
bg-browns-primary
bg-browns-secondary
bg-texans-primary
bg-texans-secondary
bg-titans-primary
bg-titans-secondary
bg-colts-primary
bg-colts-secondary
bg-jaguars-primary
bg-jaguars-secondary
bg-cowboys-primary
bg-cowboys-secondary
bg-giants-primary
bg-giants-secondary
bg-redskins-primary
bg-redskins-secondary
bg-commanders-primary
bg-commanders-secondary
bg-eagles-primary
bg-eagles-secondary
bg-seahawks-primary
bg-seahawks-secondary
bg-cardinals-primary
bg-cardinals-secondary
bg-rams-primary
bg-rams-secondary
bg-forty9ers-primary
bg-forty9ers-secondary
bg-packers-primary
bg-packers-secondary
bg-lions-primary
bg-lions-secondary
bg-vikings-primary
bg-vikings-secondary
bg-bears-primary
bg-bears-secondary
bg-falcons-primary
bg-falcons-secondary
bg-buccaneers-primary
bg-buccaneers-secondary
bg-saints-primary
bg-saints-secondary
bg-panthers-primary
bg-panthers-secondary
max-w-md
max-w-sm
"></span>
