<div class="tw-flex tw-justify-center">
<ul class="tw-mx-4">
{% for season, link in seasons %}
  <li><a href="{{ link }}">{{ season }} Season</a></li>
  {% if loop.index is divisible by(5) %}
    </ul><ul class="tw-mx-4">
  {% endif %}
{% endfor %}
</ul>
</div>
