 {% if previous is not empty %}
      <div class="flex justify-center">
        <a class="p-4 border border-white text-white text-center bg-blue-pats" href="{{ previous }}">&lsaquo; Last Game</a>
      </div>
    {% endif %}
    {% if next is not empty %}
      <div class="flex justify-center">
        <a class="p-4 border border-white text-white text-center bg-blue-pats" href="{{ next }}">Next Game &rsaquo;</a>
      </div>
    {% endif %}
