<div class="tw-flex tw-justify-center">
<ul class="tw-mx-4">
{% for season, link in seasons %}
  <li class="tw-py-2 md:tw-py-0">
    <a class="md:tw-block tw-hidden" href="{{ link }}">{{ season }} Season</a>
    <a class="tw-block md:tw-hidden" href="{{ link }}">{{ season }}</a>
  </li>
  {% if loop.index is divisible by(5) %}
    </ul><ul class="tw-mx-4">
  {% endif %}
{% endfor %}
</ul>
</div>
