.article h1 {
  font-size: xx-large;
  padding-left: 6rem!important;
  padding-right: 6rem!important;
}

.article h2 {
  font-size: x-large;
  padding-left: 6rem!important;
  padding-right: 6rem!important;
}

.article p,
.article ol,
.article ul {
  padding: 1em 0;
  padding-left: 6rem!important;
  padding-right: 6rem!important;
}

.small-margin ol {
  padding: 0;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.article ol {
  list-style: decimal;
}
.article ul {
  list-style: disc;
}

.article a {
  text-decoration: underline;
  text-decoration-color: #c60b31;
  text-decoration-thickness: .125em;
}

.paragraph.paragraph--type--text p {
  font-size: 1.5rem;
  font-weight: 300;
}
