.paragraph--type--section {
  width: 90%;
  margin: 4rem auto;
}

.paragraph.paragraph--type--text p {
  font-size: 1.5rem;
  font-weight: 300;
}

.paragraph.paragraph--type--text p a,
#block-seasongamelistblock a {
  text-decoration: underline;
  text-decoration-color: #c60b31;
  text-decoration-thickness: .125em;
}
