hr.wp-block-separator {
  margin: 4em;
  border-bottom: 1px solid #002244;
  max-width: 100% !important;
}

.wp-block-table table {
  max-width: 100%;
  margin: 0 auto;
  width: fit-content;
}

.wp-block-table td,
.wp-block-table th {
  border: none;
}
