a:hover {
  text-decoration: underline;
}

/**
 * Game Summary Styles
 */
#game-summary p {
  padding-bottom: 1em;
}

#game-summary a[href*='gfycat.com']:after,
#game-summary a[href*='muse.ai']:after {
  content: '';
  background-image:url('/themes/custom/dynasty/icons/play.svg');
  background-size: 100% 100%;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  padding-left: 1em;
}

#game-summary a[href*='gfycat.com'],
#game-summary a[href*='muse.ai']{
  text-decoration: underline;
  text-decoration-color: #c60b31;
  text-decoration-thickness: .125em;
}

/**
 * Change SVG images to white.
 */
.svg-white {
  filter: invert(95%) sepia(2%) saturate(3007%) hue-rotate(180deg) brightness(100%) contrast(76%);
}

/**
 * Node Tab Colors
 */
#node-tabs li a.is-active,
#node-tabs li a:hover{
  color: blue;
}

.win {
  color: #002244;
}

.loss {
  color: #C60C30;
}

/**
 * Select2 Overrides
 */

.select2-container {
  width: 16rem;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

/*
 * Pager Overrides
 */

li.pager__item.is-active {
  border-radius: 9999px!important;
  background-color: #C60C30;
  width: 1.5rem;
  color: white;
  text-align: center;
}

/*
 * Hiding table columns on smaller screens.
*/
@media (max-width:1024px) {
  th.views-field-opp-coach-string,
  td.views-field-opp-coach-string,
  th.views-field-home-away,
  td.views-field-home-away,
  th.views-field-month,
  td.views-field-month,
  th.views-field-weekday,
  td.views-field-weekday,
  th.views-field-brady-attempts,
  td.views-field-brady-attempts,
  th.views-field-brady-completions,
  td.views-field-brady-completions,
  th.views-field-brady-yards,
  td.views-field-brady-yards,
  th.views-field-brady-tds,
  td.views-field-brady-tds,
  th.views-field-brady-ints,
  td.views-field-brady-ints {
    display: none;
  }
}

/*
 * Adding dash between scores.
*/
td.views-field-patriots-score:after {
  content: "-";
}

.jersey {
  height: 4em;
  width: 4em;
}
/**
 * Facet Overrides
 */
.facets-checkbox {
  margin: 0 .5em 0 1em;
}

a.facets-soft-limit-link:after {
  content: '▼';
  padding-left: .25em;
}

a.facets-soft-limit-link.open:after {
  content: '▲';
  padding-left: .25em;
}

/* Article Teaser Readmore link styles */
.article-teaser .node-readmore {
  float: right;
  font-weight: 600;
}

.article-teaser .node-readmore:after {
  content: ' › ';
}
