a:hover {
  text-decoration: underline;
}

/**
 * Game Summary Styles
 */
#game-summary p {
  padding-bottom: 1em;
}

a[href*='gfycat.com']:after,
a[href*='muse.ai']:after {
  content: '';
  background-image:url('/themes/custom/dynasty/icons/play.svg');
  background-size: 100% 100%;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
}

a[href*='cdn.muse.ai']:after,
.icon-link:after {
  content: none !important;
}

a[href*='gfycat.com'],
a[href*='muse.ai']{
  text-decoration: underline;
}

/**
 * Change SVG images to white.
 */
.svg-white {
  filter: invert(95%) sepia(2%) saturate(3007%) hue-rotate(180deg) brightness(100%) contrast(76%);
}

/**
 * Node Tab Colors
 */
#node-tabs li a.is-active,
#node-tabs li a:hover{
  color: blue;
}

.win {
  color: #002244;
}

.loss {
  color: #C60C30;
}

/**
 * Select2 Overrides
 */

.select2-container {
  width: 16rem;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
}

/*
 * Pager Overrides
 */

li.pager__item.is-active {
  border-radius: 9999px!important;
  background-color: #C60C30;
  width: 1.5rem;
  color: white;
  text-align: center;
}

/*
 * Hiding table columns on smaller screens.
*/
@media (max-width:1024px) {
  th.views-field-opp-coach-string,
  td.views-field-opp-coach-string,
  th.views-field-home-away,
  td.views-field-home-away,
  th.views-field-month,
  td.views-field-month,
  th.views-field-weekday,
  td.views-field-weekday {
    display: none;
  }
}

/*
 * Adding dash between scores.
*/
td.views-field-patriots-score:after {
  content: "-";
}

/**
 * Facet Overrides
 */
.facets-checkbox {
  margin: 0 .5em 0 1em;
}
