{% set attributes = attributes.addClass('diff') %}

<div {{ attributes }}>
  <div class="diff-item-1">
    {{ item_1 }}
  </div>
  <div class="diff-item-2">
    {{ item_2 }}
  </div>
  <div class="diff-resizer"></div>
</div>
